/* TODO: Turn into less file and capitalise classes */

.keybase .authorize-window {
  width: 320px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #444;
}

.keybase .authorize-window h3 {
  font-size: 20px;
  padding: 10px 0;
}

.keybase .authorize-window .accounts {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #eee;
  padding: 20px;
  font-size: 16px;
}

.keybase .authorize-window .accounts .forum {
  border-bottom: 1px solid #eee;
}

.keybase .authorize-window img {
  margin: 10px;
  border-radius: 100%;
  width: 80px;
}

.keybase .authorize-window .no-avatar {
  margin: 10px;
  width: 80px;
  height: 80px;
}

.keybase .authorize-window img.keybase {
  border-radius: 0;
  width: 75px;
  padding-top: 10px;
}

.keybase .authorize-window button {
  margin-top: 10px;
  background-color: #eee; /* Green */
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: 20px;
}

.keybase .authorize-window button.yes {
  background-color: #37bd9a;
  color: white;
}

.keybase-badge {
  background-color: #37bd9a;
  padding: 2px;
  margin: 2px 0;
  border-radius: 4px;
}

.keybase-badge:hover {
  background-color: #20a080;
}

.keybase-badge button:hover {
  text-decoration: none;
}
